.icon-button-link {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	padding: 4px;
}

.icon-button-link svg {
	transition: transform var(--transition-fast) ease-in-out;
}

.icon-button-link::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 3px;
	top: unset;
	bottom: 0;
	left: 0;
	background: var(--color-secondary);
	transition: transform var(--transition-standard);
	transform: scaleX(0);
	transform-origin: right;
}

.icon-button-link:hover,
.icon-button-link:focus,
.icon-button-link:focus-visible {
	outline: none;
	text-decoration: none;
}

.icon-button-link:hover svg,
.icon-button-link:focus svg,
.icon-button-link:focus-visible svg {
	transform: scale(1.1);
}

.icon-button-link:hover::after,
.icon-button-link:focus::after,
.icon-button-link:focus-visible::after {
	transform: scaleX(1);
	transform-origin: left;
}

.icon-button-link:active svg {
	transform: scale(0.95);
}
